<% provide(:title, 'About Us') %>
<br>
<sth1>ABOUT <strong>ONLY SHARE</strong></sth1>
<div class="row">
<div class="span12"><img src="personedited.jpg" alt="about us"></div>
</div>
<br>
<div class="row">
	<div class="span5">
	<sth2>WHAT</sth2><br>
	<sth1>WE BELIEVE</sth1>
	<p>We believe in the power of sharing. As a community, the users of Only Share save around <strong>three hundred tonnes</strong> of equipment from being landfilled each year. We understand and have witness the impact of giving gifts. Whether it's time to clean out the house, or upgrade the television, or dispose of the work furnite. We encourage people to use Only Share. Please support this website by recommending us at your workplace, to your friends and to the people in your community.
	</p>
	</div>
	<div class="span5 offset1">
	<sth2>HOW</sth2><br>
	<sth1>DOES IT WORK</sth1>
	<br>
	<p>Only share is a free online tool that allows people to post items they would like to share with someone else. 
	You can either give an item away, or search for an item you want.
	Everything posted on this website must be free, legal and appropriated for all ages. The standard format is: <strong>giving</strong> and <strong>wanting</strong>. Once you have created an account with us, you will be able to see items posted in your area, as well as across the country. If you are searching for a specific item, you can search for it using our search facility. If you are unable to find what you are looking for, you can choose to be emailed if any items matching your search become available on our website. We will email you when items become available in your area by default, giving you the best opportunity to find what you are looking for.</p>
	</div>
	<br>
	<div class="span5">
	<sth2>OUR</sth2><br>
	<sth1>EMAIL UPDATES</sth1>
	<p>As a user of Only Share we will email you with the latest posts in your area and updates. This means you will never miss out on an oppurtunity. You will recieve an email at the end of every week with a summary of activity in your area, as well as any specific requests you have made.</p>
	</div>
	<div class="span5 offset1">
		<br>
		<br>
	<p>Sign up to our email updates here:</p>
    <div class="input-prepend">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <input class="span3" id="inputIcon" type="text" placeholder="Email">
    </div>
    <%= link_to "Sign up", '#', class: "btn btn-default btn-primary" %>
</div>
</div>
<br>