<%= provide(:title, 'Conditions') %>
	<h1>Terms & Coniditions</h1>
		<div class=" center row">
			<h2>By using Only Share you agree to the following terms and conditions</h2>
		</div>
<div class="well well-small">
	<center><h3>Responsibility</h3>
		Only share accepts no responsibility for damage or loss of anything posted on Only Share. We cannot be held responsible for any injuries or accidents that may occur in the transaction, delivery or installation of the equipment. Your use of any information or materials on this website is entirely at your own risk, for which will are not liable. It is your own responsibility to ensure that any services or information available through this website meet your specific requirements. This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
	</center>
</div>
<br>
<div class="well well-small">
	<center><h3>Loss of data</h3>
		Only share accepts no responsibility for the accidental loss of data. Although we do not share any of our data or information with third party companies. We cannot accept any responsibility for the theft or accidental loss of data. We take all possible measures to ensure our users data is fully protected.
	</center>
</div>
<br>
<div class="well well-small">
	<center><h3>Usage of website</h3>
		By using Only Share, therefor agreeing to these terms and conditions, you agree to our fair usage of website policy. The use of copyrighted images is prohibited on this website, unless you have the authors permission to use it. The user of graphic images such as voilence, indecenscy or nudity is also prohibited on this website. The use of which will result in an automatic suspension of your account, as well as your email address being blocked from creating a new account. The content of this website if for your general infromation and use only. It is subject to change without notice.
	</center>
</div>
<br>
<div class="well well-small">
	<center><h3>Cookies</h3>
		Only share uses cookies to monitor browsing preferences. If you do allow cookies to be used, we use them for the following reasons. Scrlpg is a cookie we use to keep track of where you are on the page. For example if you scroll to to bottom of the page, click a link and then decide to go back to where you were. Instead of going to the top of the page, this cookie will allow you to go back to exactly where you left off.
	</center>
</div>
<br>
<div class="well well-small">
	<center><h3>Responsibility</h3>
		Only share accepts no responsibility for damage or loss of anything posted on Only Share. We cannot be held responsible for any injuries or accidents that may occur in the transaction, delivery or installation of the equipment.
	</center>
</div>