<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="row-fixed">
	<sh1>SAY HELLO</sh1>
</div>
<br>
	<div class="row">
		<div class="span3">
			<input class="span3" type="text" id="inputName" placeholder="Name">
			<input class="span3" type="text" id="inputEmail" placeholder="Email">
			<input class="span3" type="text" id="inputSubject" placeholder="Subject">
			<textarea class="field span3" rows="4"></textarea><br>
			<%= link_to "Send message", '#', class: "btn btn-default btn-primary" %>
		</div>
		<div class="span3 offset1">
			<address>
					<strong>ONLY SHARE LTD</strong><br>
					KYVNETT HOUSE<br>
					THE CAUSEWAY<br>
					STAINES<br>
					TW16 1QU<br>
					<br>
					<abbr title="Phone">T:</abbr> 0207 644 8123<br>
			</address>
			<address>
					<strong>ENQUIRIES</strong><br>
					<abbr title="Email">E:</abbr><a href="mailto:enquire@onlyshare.co.uk"> enquire@onlyshare.co.uk</a><br>
			</address>
		</div>
		<div class="span5">
			<div class="row-fluid">
			<blockquote class="twitter-tweet"><p>Here's the latest from updates. Sign up to our weekly updates for more information.</p>&mdash; (@OnlyShareGroup) <a href="https://twitter.com/OnlyShareGroup/status/259751397506023424" data-datetime="2012-10-20T20:22:13+00:00">October 20, 2012</a></blockquote>
			<script src="//platform.twitter.com/widgets.js"></script>
			<img src="twitter.png" width="35" height="35" alt="Send us a tweet on Twitter"><sth2> @Onlyshare</sth2></div>
		</div>
	</div>