<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="row-fixed">
<sth1>Frequently asked Questions:</sth1>
</div>
<br>
<div class="row-fixed">
		<sth2>Can I download the website?</sth2>
			<div class="span12">
			<p>In a one word answer, no. Unforuntanetely you can't download this website, as it's private and this is a test response.</p>
			</div>
<br>
		<sth2>What happens if a product is no longer available?</sth2>
			<div class="span12">
			<p>If a product becomes unavailable, we will notify you by email. We normally like to inform a user within a 24 hour period.</p>
			</div>