<div class="center hero-unit">
	<h1>Sharing, made easy.</h1>
	<p>
		Only Share is a free online tool for people to easily share items within their community.<br>
		
		If you're wanting to give or recieve an item today, <a href="/signup">get started</a> here.
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center row"><h2>Take a look at some of our most recent posts</h2></div>

<!-- Items Preview -->
<div class="container-fixed">
<div class="row-fluid">
	<div class="thumbnail-container">
	<!-- First Item -->
    	<li class="span3">
   	<div class="thumbnail">
    	<img src="/drums.jpg" alt="Drum Kit Berkshire">
    	<h3>Giving</h3></a>
    	<p>Drum Kit Berkshire<br>
    		<a href="/contact"><button class="btn btn-mini btn-info" type="button">More Info</button></a>
    	</p>
    	</li>
   	<!-- Second Item -->
    	<li class="span3">
   	<div class="thumbnail">
    	<img src="/television.jpg" alt="Television Staines">
    	<h3>Giving</h3></a>
    	<p>Television Staines<br>
    		<a href="/contact"><button class="btn btn-mini btn-info" type="button">More Info</button></a>
    	</p>
    	</li>
    <!-- Third Item -->
    	   	<li class="span3">
   	<div class="thumbnail">
    	<img src="/armchair.jpg" alt="Armchair Bracknell">
    	<h3>Wanting</h3></a>
    	<p>Sofa Bracknell<br>
    		<a href="/contact"><button class="btn btn-mini btn-info" type="button">More Info</button></a>
    	</p>
    	</li>
    </div>
    </ul>
</div>