<footer class="footer">
	<small>
		Only Share Group | Registed in England & Wales | <a href="/conditions">Terms & Coniditons</a>
</small>
<nav>
	<ul>
		<li><%= link_to "Help",   help_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
</nav>
</footer>